/* src/styles/EventList.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: linear-gradient(135deg, #0a0a0a, #1f1f1f); /* Black to dark gray gradient */
  color: #e0e0e0;
  overflow-x: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.logo-text {
  font-family: 'Audiowide', cursive; 
  background: linear-gradient(135deg, #FF5733, #FFBD33, #DBFF33, #75FF33, #33FF57);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 10px;
  font-size: 40px; /* Adjust size as needed */
  margin-left: -830px; /* Initial position adjustment */
  animation: fadeIn 1s ease-in; /* Animation effect */
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}


.logo-text.animate {
  animation: fadeIn 1s ease-in; /* Match with your previous fadeIn keyframes */
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translate(0px, -50px); /* Start from further left and up */
  }
  100% {
      opacity: 1;
      transform: translate(0, 8px); /* Final position moved slightly down */
  }
}

/* Event List Styling */
.event-list {
  position: relative;
  padding: 35px;
  max-width: 1200px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #00ffea, #007bff);
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #00ffea, #ff4d4d);
}

@media (max-width:1200px) {
  .logo-text{
    font-size: 2rem;
    margin-left: -300px;
  }
  
}
@media (max-width: 768px) {
  .logo-text{
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .logo-text{
    margin-right: 50px;
  }
}
.offscreen-image-container {
  position: fixed; 
  left: 0; 
  top: 65%; 
  transform: translateY(-50%); 
  z-index: 1000; 
}
/* Loading Bar Styling */
.loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0; /* Start with 0 width */
  height: 4px; /* Adjust height as needed */
  background: linear-gradient(90deg, #33FF57, #FF5733);
  z-index: 9999;
  animation: loadingAnimation 1.5s infinite ease-in-out;
}
/* Circle Styles */
.small-circle {
  position: fixed;
  left: 9%; /* Center horizontally */
  top: 50%; /* Center vertically */
  transform: translate(-50%, -50%); /* Adjust to center */
  width: 25px; /* Small circle width */
  height: 25px; /* Small circle height */
  background-color: #33FF57; /* Color of the small circle */
  border-radius: 50%; /* Make it circular */
  animation: fadeOut 3s forwards; /* Fade out animation */
}

.large-circle {
  position: fixed;
  left: 11%; /* Center horizontally */
  top: 40%; /* Center vertically */
  transform: translate(-50%, -50%); /* Adjust to center */
  width: 90px; /* Large circle width */
  height: 90px; /* Large circle height */
  background-color: #33FF57; /* Color of the large circle */
  border-radius: 50%; /* Make it circular */
  animation: fadeOut 3s forwards; /* Fade out animation */
}

/* Animation for fading out */
@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

@keyframes loadingAnimation {
  0% {
    width: 0;
  }
  50% {
    width: 80%; /* Bar moves to 80% width */
  }
  100% {
    width: 100%; /* Completes the width */
    opacity: 0; /* Fades out after reaching the end */
  }
}
